<p>
  <b>Name:</b>
  <%=h @workout.name %>
</p>

<p>
  <b>Content:</b>
  <%=h @workout.content %>
</p>

<p>
  <b>External:</b>
  <%=h @workout.external_id %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>