<h1>Admin Home</h1>

<% form_for(@profiled_media) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link%>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

