<h1>Admin</h1>

<% form_for(@media_profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label_tag 'secret_key' %><br />
    <%= password_field_tag 'secret_key' %>
  </p>
  <p>
    <%= f.label :title, 'Image Title' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :link, 'Image URL' %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

