<h1>Listing media_profiles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
  </tr>

<% @media_profiles.each do |media_profile| %>
  <tr>
    <td><%=h media_profile.title %></td>
    <td><%=h media_profile.link %></td>
    <td><%= link_to 'Show', media_profile %></td>
    <td><%= link_to 'Edit', edit_media_profile_path(media_profile) %></td>
    <td><%= link_to 'Destroy', media_profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New media_profile', new_media_profile_path %>